:root {
  --primary-colour: purple;
  --secondary-colour: #885df1;
}

body {
  background-color: var(--secondary-colour);
}
h1 {
  color: var(--primary-colour);
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  font-size: 48px;
}
h3 {
  text-align: center;
  padding: 30px;
}
a {
  text-decoration: none;
  color: var(--primary-colour);
  font-size: 36px;
  padding-top: 30px;
}
img {
  display: block;
  margin: auto;
}
